html, body{
    margin:0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.navbar{
    margin: 0;
    padding: 1px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(24,24,27);
    z-index: 5;
    font-size: 1em;

}

.navbar > a, #side-panel-button{
    display: block;
    color: whitesmoke;
    padding: 1.44vh 1.8vw;
    text-decoration: none;
    text-align: center;
    float: left;
}

.navbar > a.active{
    color: #259a7a;
    border-bottom: 2px solid #259a7a;
}


.navbar > a:hover, #side-panel-button:hover{
    color: #259a7a !important;
}


#side-panel-button{
    outline: none;
    border:none;
    background-color: rgb(24,24,27);
}

#search{
    border-radius: 5px;
    width: 20vw;
    padding: .72vh .45vw;
    margin-top: .72vh;
    border: 1px solid rgb(24,24,27);
    background-color: rgb(58,58,60);
    color: rgb(188, 188, 188);

}

#search:focus{
    outline: none;
    border:1px solid #259a7a;
}



.main-content{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding: 6vh 17vw;
}




.center{
    text-align: center;
    align-self: center;
}

.non-clickable{
    pointer-events: none;
    -webkit-user-select: none;      
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-size: 2em;
}

.side-panel{
    width:0vw;
    position: fixed;
    height: 100vh;
    top:0;
    left:0;
    z-index: 4;
    background: rgb(31,35,35);
    overflow-x: hidden;
    transition: .25s;
    display: block;
}

.side-panel-content{
    padding: 5vh 0 0 1vw;
    color:whitesmoke;
}
.side-panel-content > ul {
    display: flex;
    flex-direction: column;
}

.side-panel-content > ul > li{
    padding-bottom: 2vh;
    float:left;
    font-size: 1em;
}

.link{
    font-size: 1.5em;
    text-decoration: none;
    color: whitesmoke;
}

.link:hover{
    color:#259a7a
}
img{
    width: 200px;

    border: 1px solid black;
    background-size: contain;
}

@media only screen and (max-width:1200px){
    .side-panel{
        display: none;
    }
    .main-content{
        padding: 6vh 10vw;
    }
    .blog-content > img{
        margin: 10px;
        border: solid black 2px;
        width: 95%;
    }

    
}